# Base de datos
DB_HOST=localhost
DB_PORT=5432
DB_NAME=db_task_manager
DB_USER=postgres
DB_PASSWORD=tu_password

# App
PORT=3000
JWT_SECRET=tu_secreto_jwt

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_TTL=300

# Rate Limiting
THROTTLE_TTL=60000
THROTTLE_LIMIT=100

# Mail (opcional)
MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=noreply@example.com
